extends layout

block content
  h2= title
  div
  table
    thead
      tr 
        th="Nome"      
        th="Habitat"
    tbody
      each animal in animals
        tr
          td=animal.nome
          td=animal.habitat